{% extends 'base.html' %}
{% block title %}Edit Profile Page{% endblock %}
{% block content %}

<div class= "home">
{% if user.is_authenticated %}
{% if user.id == profile.user.id %}
	<CENTER><BR/><h3> EDIT PROFILE </h3><BR/></CENTER>
	<div class="form-group">
		<form method= "POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-secondary">Save</button>
	</div>

	
	{% else %}
	You are not the correct user to edit this page

	{% endif %}

{% else %}
ACCESS DENIED
{% endif %}

</div>
{% endblock %}