.navbar-brand {
  padding-left: 30px;



}

.vertical ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  width: 17%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.vertical li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.vertical li a.active {
  background-color: #4CAF50;
  color: white;
}

.vertical li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.home {
  padding-left: 200px;
}


.unicorn ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  width: 17%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

..unicorn li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

..unicorn li a.active {
  background-color: #4CAF50;
  color: white;
}

