

.title {
  padding-top: 5px;

}


.pagination nav {

  padding-left: 600px;
  padding-bottom: 20px;

}

.back {
  padding-top: 10px;
}


.like {
  text-align: right;
  padding-top: 0;
}


.navbar-brand {
  padding-left: 30px;

}


.settings {
  padding-left: 255px;
  padding-right: 50px;

}


.vertical h3 {
  text-align: center;



}

.vertical ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  width: 16%;
  background-color: #66D49A ;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
 
}

.vertical li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.vertical li a.active {
  background-color: #4CAF50;
  color: white;
}

.vertical li a:hover:not(.active) {
  background-color: #555;
  color: white;
}



.home {
  padding-left: 280px;
  padding-right: 75px;
  padding-top: 0px;

}




.unicorn ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  width: 17%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

..unicorn li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

..unicorn li a.active {
  background-color: #4CAF50;
  color: white;
}

.logout {
  text-align: right;
  padding-right: 15px;
  padding-top: 10px;
}

.sorry {
  padding-left: 300px;
  padding-top: 100px;

}



 

