{% extends 'base.html' %}
{% block content %}





<div class="home">
<h3><center>Blog Posts </center></h3><br/>	
<ul>

{% for post in object_list %}
	<li>
		<a href="{% url 'article-detail' post.pk %}">
			{{ post.title }} 
		</a>-
			
		in:<a href="{% url 'category' post.category|slugify %}">
			{{ post.category }}- 
		</a>	
		{{ post.author.first_name }} 
		{{ post.author.last_name }}- 
		{{ post.post_date }}- 

	{% if user.is_authenticated %}
	{% if user.id == post.author.id %}
		<a href="{% url 'update_post' post.pk %}" class='badge badge-info'>
		 	Edit
		 </a> 

		 <a href="{% url 'delete_post' post.pk %}" class='badge badge-danger'>
		 	Delete
		 </a>

	{% endif %}
	{% endif %}


	<br/>
	{{ post.snippet }}
	<br/>
	<br/>
	<br/>
			
	</li>
	{% endfor %}
</ul>
</div>

<!---
<div class="pagination">
	<nav aria-label="...">
	  <ul class="pagination">
	    <li class="page-item disabled">
	      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
	    </li>
	    <li class="page-item"><a class="page-link" href="#">1</a></li>
	    <li class="page-item active" aria-current="page">
	      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
	    </li>
	    <li class="page-item"><a class="page-link" href="#">3</a></li>
	    <li class="page-item">
	      <a class="page-link" href="#">Next</a>
	    </li>
	  </ul>
	</nav>
</div>
--->




{% endblock %}