{% extends 'base.html' %}
{% block content %}





<div class="home">
<h2><center>Title- A Description of the Title </center></h2><br/>	
<ul>

{% for post in object_list %}
	<li>
		<a href="{% url 'article-detail' post.pk %}">
			{{ post.title }} 
		</a>-
			
		in:<a href="{% url 'category' post.category|slugify %}">
			{{ post.category }}- 
		</a>	
		{{ post.author.first_name }} 
		{{ post.author.last_name }}- 
		{{ post.post_date }}- 

	{% if user.is_authenticated %}
	{% if user.id == post.author.id %}
		<a href="{% url 'update_post' post.pk %}" class='badge badge-info'>
		 	Edit
		 </a> 

		 <a href="{% url 'delete_post' post.pk %}" class='badge badge-danger'>
		 	Delete
		 </a>

	{% endif %}
	{% endif %}


	<br/>
	{{ post.snippet }}
	<br/>
	<br/>
	<br/>
			
	</li>
	{% endfor %}
</ul>
</div>




{% endblock %}